@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Poppins:wght@400;500;600;700;800;900&display=swap');

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

$main-font: 'Poppins', sans-serif;
$secondary: 'Oswald', sans-serif;
$fs-600: 4rem;
$fs-500: 3rem;
$fs-400: 2.5rem;
$fs-300: 1.6rem;
$main-color: #333;
$secondary-color: red;

body {
  font-family: $main-font;
  color: $main-color;
  margin: 0 auto;
  overflow-x: hidden;
  width: 100vw;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}

.container {
  width: 60%;
}

h1 {
  font-size: $fs-600;
}

h3 {
  font-size: $fs-400;
}

p {
  font-size: $fs-300;
}

a {
  text-decoration: none;
  font-size: $fs-300;
  color: $main-color;
}


